<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">💦 Res2Go</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "All Reservoirs", reservoirs_path, class: 'btn' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "My Reservoirs", user_path(current_user.id), class: 'btn' %></li>
          <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-default navbar-btn' %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path, class: 'btn', method: :get %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
