// Place all the styles related to the Reservoirs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress {
  border: 1px solid grey;
}

.reservoir-row > td:first-child, .reservoir-row > td:last-child {
  vertical-align: middle;
  padding: 3px 20px;
}
