<div class="stat-container container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h1>New Reservoir</h1>
        <ul>  
          <li>Select a reservoir and optionally, a minimum or maximum threshold.</li>
          <li>If the reservoir capacity falls below the minimum threshold or rises above the maximum threshold, a notification will be sent to you.</li>
        </ul>
    </div>
    <div class="col-md-4 well">
      <form class="form" action="/stats" method="POST">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
        
        <% if @stat.errors.any? %>
            <h2>Errors</h2>
            <ul>
              <% @stat.errors.full_messages.each do |error| %>
              <li>
                <%= error %>
              <% end %>
              </li>
            </ul>
        <% end %>

        <div class="form-group">
          <select class="form-control" name="reservoir_name">
            <!-- If reservoir isn't already in the user's reservoirs, list it -->
            <option selected disabled>Select reservoir</option>
            <% @reservoirs.each do |reservoir| %>
              <% if !@user.reservoirs.include?(reservoir) %>
                <option value="<%= reservoir.name %>"><%= reservoir.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>

        <div class="form-group">
          <label for="min">Min. %:</label>
          <input class="form-control" type="text" name="min" placeholder="Optional">
        </div>

        <div class="form-group">
          <label for="max">Max. %:</label>
          <input class="form-control" type="text" name="max" placeholder="Optional">
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit">
        </div>

      </form>

    </div>
  </div>
</div>