<div class="container panel">
  <div class="row">
    <div class="col-md-6">
      <h1>New Reservoir</h1>
        <ul>  
          <li>Select a reservoir and optionally, a minimum or maximum threshold.</li>
          <li>If the reservoir capacity falls below the minimum threshold or rises above the maximum threshold, a notification will be sent to you.</li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form action="/stats" method="POST">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 

        <select name="reservoir_name">
          <!-- If reservoir isn't already in the user's reservoirs, list it -->
          <option selected disabled>Select reservoir</option>
          <% @reservoirs.each do |reservoir| %>
            <% if !@user.reservoirs.include?(reservoir) %>
              <option value="<%= reservoir.name %>"><%= reservoir.name %></option>
            <% end %>
          <% end %>
        </select>

        <label for="min">Min. %:</label>
        <input type="text" name="min" placeholder="Optional">
        <label for="max">Max. %:</label>
        <input type="text" name="max" placeholder="Optional">
        <input type="submit">
      </form>
    </div>
  </div>
</div>